<div class="container">
  <div class="row">

    <div class="col-sm-1 media-left">
      <%= attachment_image_tag @user, :profile_image, size: '60x60' %>
    </div>
    <div class="col-sm-7" media-body>
      <h4 class="post-title"><%= @user.name %></h4>
      <% if @user.id == current_user.id %>
      <p><%= link_to "プロフィール編集", edit_user_path(@user), class: "pull-right" %></p>
      <% end %>
    </div>


    <div class="col-sm-2">
      <%= link_to '新しく買ったもの', user_path(current_user.id) %>
    </div>


  </div>

  <div class="row">
    <%= @buys.each do |buy| %>
      <div class="col-sm-4 float-left">
        <div class="thumbnail">
          <%=link_to buy_path(buy.id) do %>
            <%= attachment_image_tag buy, :buy_post_image, size: '400x400' %>
              <div class="caption">
                <%= buy.buy_caption %>
              </div>
            <% end %>
        </div>

      </div>
    <% end %>
  </div>
</div>
