<div class="container">
  <div class="row mx-sm-5 align-items-center header-profile">

    <div class="col-sm-1">
      <%= attachment_image_tag @user, :profile_image, size: '60x60', fallback: "no_image.jpg" %>
    </div>
    <div class="col-sm-5">
      <h3 class="profile-box"><%= @user.name %></h3>
      <% if @user.id == current_user.id %>
          <p class="profile-box"><%= link_to edit_user_path(@user) do %>
            <i class="fa fa-edit"></i>
          </p>
          <% end %>
      <% end %>
    </div>
    <div class="col-sm-3 col-sm-offset-3">
      <%= link_to("/users/#{@user.id}/favorites") do %>
      <button type="button" class="btn btn-default">お気に入り</button>
      <% end %>
    </div>

  </div>

  <div class="row">
    <% @buys.each do |buy| %>
      <div class="col-sm-4 float-left">
        <div class="thumbnail">
          <%=link_to buy_path(buy.id) do %>
            <%= attachment_image_tag buy, :buy_post_image, size: '400x400' %>
              <div class="caption">
                <%= buy.buy_caption %>
              </div>
          <% end %>
        </div>
      </div>
    <% end %>

  </div>
</div>
