  <div class="row">
    <% @buys.each do |buy| %>
      <div class="col-sm-4 float-left">
        <div class="thumbnail">
          <%=link_to buy_path(buy.id) do %>
          <%= attachment_image_tag buy, :buy_post_image, size: '400x400' %>
          <% end %>
            <div class="caption">
                <%= buy.buy_caption %>
                <i class="fa fa-heart fa-1x" style="color: red;"></i> <%= buy.favorites.count %>

                <i class="fa fa-comment-o" aria-hidden="true"></i> <%= buy.comments.count %>
                <div class="caption_byuser">
                  by <%= buy.user.name %>
                </div>
            </div>

        </div>
        <!-- <div class="user-box">
          <%= attachment_image_tag buy.user, :profile_image, size: '50x50' %>
          <%= buy.user.name %>
        </div> -->
      </div>
    <% end %>

  </div>
  <div>
    <%= paginate @buys %>
  </div>
