<div class="container">
  <div class="post-field">

    <div class="row">
      <div class="form-group col-xs-4">
        <h2>新規投稿</h2>
      </div>
    </div>

    <%= form_with(model: @buy, local: true) do |f| %>

    <div class="row">
      <div class="form-group col-xs-4">
        <%= f.attachment_field :buy_post_image %>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-xs-4">
          <%= f.label :タイトル %>
          <%= f.text_field :buy_caption, class:"form-control" %>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-xs-4">
          <%= f.label :本文 %>
          <%= f.text_area :buy_message, class:"form-control" %>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-xs-4">
          <%= f.submit "投稿する", class:"btn btn-sm btn-block mt-20 btn-info" %>
      </div>
    </div>
    <% end %>

  </div>
</div>
