<div class="row">
  <div class="page-title">
    Ranking<span>お気に入りランキング</span>
  </div>

  <% @buy_favorites.each.with_index(1) do |buy_favorites, i| %>
    <div class="col-sm-4 float-left">
      <div class="thumbnail">
        <%=link_to buy_path(buy_favorites.id) do %>
        <%= attachment_image_tag buy_favorites, :buy_post_image, size: '400x400' %>
        <p class="ranking"><%= i %>位</p>
        <% end %>
          <div class="caption">
              <%= buy_favorites.buy_caption %>
              <i class="fa fa-heart fa-1x" style="color: red;"></i> <%= buy_favorites.favorites.count %>
              <i class="fa fa-comment-o" aria-hidden="true"></i> <%= buy_favorites.comments.count %>
              <div class="caption_byuser">
                by <%= buy_favorites.user.name %>
              </div>
          </div>

      </div>

    </div>
  <% end %>

</div>
<div>
  <%= paginate @buy_favorites %>
</div>
