<div class="row">
  <h2>お気に入りランキング</h2>
  <% @buy_favorites.each do |buy_favorites| %>
    <div class="col-sm-4 float-left">
      <div class="thumbnail">
        <%=link_to buy_path(buy_favorites.id) do %>
        <%= attachment_image_tag buy_favorites, :buy_post_image, size: '400x400' %>
        <% end %>
          <div class="caption">
              <%= buy_favorites.buy_caption %>
              <i class="fa fa-heart fa-1x" style="color: red;"></i> <%= buy_favorites.favorites.count %>
              <i class="fa fa-comment-o" aria-hidden="true"></i> <%= buy_favorites.comments.count %>
              <div class="caption_byuser">
                by <%= buy_favorites.user.name %>
              </div>
          </div>

      </div>

    </div>
  <% end %>

</div>
<div>
  <%= paginate @buy_favorites %>
</div>
