<section class="sct-color-1 slice">
  <div class="container">
    <div class="row">
      <div class="post-meta-top">
        <div class="col-sm-1 media-left">
          <%= attachment_image_tag @buy.user, :profile_image, size: '60x60' %>
        </div>
        <div class="col-sm-9" media-body>
          <h4 class="post-title"><%= @buy.buy_caption %></h4>
          <%= link_to @buy.user.name, user_path(current_user.id) %>
        </div>
        <div class="col-sm-2">
          いいね
        </div>

      <div class="row">
        <div class="post-image col-sm-6">
         <%= attachment_image_tag @buy, :buy_post_image, size: width='500', class: 'img-responsive center-block' %>
        </div>
        <div class="col-sm-4">
          <div>
            <%= @buy.buy_message %><br>
            <i class="fa fa-calendar"></i><%= @buy.created_at.strftime('%Y/%m/%d') %>
          </div>


            <% if @buy.release.present? %>
              <h5>代わりに手放したもの</h5>
              <div class="thumbnail release-thumbnail">
                <%= attachment_image_tag @buy.release, :release_image %>
              </div>
                <%= @buy.release.release_caption %>
                <%= @buy.release.release_message %>

            <% elsif @buy.user == current_user %>
              <%= link_to"かわりに手放す物を投稿",new_buy_release_path(@buy) %>
            <% else %>

            <% end %>

          


        <div>
          <% if @buy.user == current_user %>
            <%= link_to"削除",buy_path(@buy),method: :delete %><br>
          <% end %>
      </div>
    </div>
        <div class="post-content">
          <ul class="meta-info-cells v4 float-wrapper">
            <li>
              <i class="fa fa-calendar"></i><%= @buy.created_at.strftime('%Y/%m/%d') %>
            </li>
          </ul>
        </div>
      </div>
      </div>
</section>
