
<section class="sct-color-1 slice">
  <div class="container-fluid box-buy">
    <div class="row user-info">
      <div class="media profile-block">

        <div class="col-sm-1">
          <div class="media-left media-top">
            <div class="media-object">
              <%= attachment_image_tag @buy.user, :profile_image, size: '60x60' %>
            </div>
          </div>
        </div>

        <div class="col-sm-5">
          <div class="media-body">
            <h4 class="post-title"><%= @buy.buy_caption %></h4>
            <%= link_to @buy.user.name, user_path(@buy.user_id) %>
          </div>
        </div>

        <div class="col-sm-2 col-sm-offset-4">
          <div id="favorites_buttons_<%= @buy.id %>">
             <%= render partial: 'favorites/favorite', locals: { buy: @buy} %>
          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="buy-info col-sm-12">
        <div class="box">
          <%= attachment_image_tag @buy, :buy_post_image, size: '650x650', class: 'img-responsive center-block' %>
        </div>

        <div class="detail-block">

          <div class="buy-message">
            <%= @buy.buy_message %>
          </div>

          <div class="release_block">
            <% if @buy.release.present? %>
              <h5>代わりに手放したもの</h5>
              <div class="box">
                <div class="release-thumbnail">
                  <%=link_to buy_release_path(@buy, @buy.release) do %>
                  <%= attachment_image_tag @buy.release, :release_image, size: '250x250' %>
                  <p><%= @buy.release.release_caption %></p>
                  <% end %>
                </div>
              </div>

            <% elsif @buy.user == current_user %>
              <%= link_to new_buy_release_path(@buy) do %>
                <button type="button" class="btn btn-outline-info btn-sm">かわりに手放す物を投稿</button>
              <% end %>
            <% else %>
            <% end %>

            <% if @buy.user == current_user %>
              <%= link_to buy_path(@buy),method: :delete do %>
              <button type="button" class="btn btn-outline-info btn-sm">削除</button>
              <% end %>
            <% end %>
          </div>
        </div>
        <!-- コメント -->
        <div class="comments-area">
          <div class="comment-title">
            <p>comments(<%= @comments.count %>)</p>
          </div>
          <ul>
            <li id="comments-area">
              <%= render partial: 'comments/index', locals: { comments: @comments } %>
            </li>
          </ul>

          <hr>
          <% if user_signed_in? %>
            <div class="comment-create">
              <h3 class="text-left">comments</h3>
              <%= render partial: 'comments/form', locals: { comment: @comment, buy: @buy } %>
            </div>
          <% end %>
        </div>
    </div>
  </div>
</section>
