<section class="sct-color-1 slice">
  <div class="container-fluid">
    <div class="row">

      <div class="media">
        <div class="col-sm-1">
          <div class="media-left media-top">
            <div class="media-object">
              <%= attachment_image_tag @buy.user, :profile_image, size: '60x60' %>
            </div>
          </div>
        </div>

        <div class="col-sm-5">
          <div class="media-body">
            <h4 class="post-title"><%= @buy.buy_caption %></h4>
            <%= link_to @buy.user.name, user_path(current_user.id) %>
          </div>
        </div>

        <div class="col-sm-2 col-sm-offset-4">
          <div id="favorites_buttons_<%= @buy.id %>">
             <%= render partial: 'favorites/favorite', locals: { buy: @buy} %>
          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="post-image col-sm-12">
        <div class="box">
          <%= attachment_image_tag @buy, :buy_post_image, size: '700x700', class: 'img-responsive center-block' %>
        </div>
        <div class="detail-block">
          <div class="buy-message">
            <%= @buy.buy_message %>
          </div>

          <div>
            <% if @buy.release.present? %>
              <h5>代わりに手放したもの</h5>
              <div class="thumbnail release-thumbnail">
                <%= attachment_image_tag @buy.release, :release_image %>
              </div>
                <%= @buy.release.release_caption %>
                <%= @buy.release.release_message %>

            <% elsif @buy.user == current_user %>
              <%= link_to"かわりに手放す物を投稿",new_buy_release_path(@buy) %>
            <% else %>

            <% end %>
            <% if @buy.user == current_user %>
              <%= link_to"削除",buy_path(@buy),method: :delete %><br>
            <% end %>
          </div>
        </div>
      </div>
    </div>


      <div class="row">
        <% if @buy.user == current_user %>
          <%= link_to"削除",buy_path(@buy),method: :delete %><br>
        <% end %>
      </div>

  </div>
</section>
