<div class="container">
  <div class="row">
    <%= @releases.each do |release| %>
      <div class="col-sm-4 float-left">
        <div class="thumbnail">
          <%= link_to buy_release_path(release.id) do %> 
          <%= attachment_image_tag release, :release_image, size: '400x400' %>
            <div class="caption">
              <%= release.release_caption %>
            </div>
          <%# <% end %> %>
        </div>

        <%= attachment_image_tag release.user, :profile_image, size: '60x60' %>
        <img src="img.jpg" class="img-circle" alt="参考画像" width="200" height="200">

        <%= release.buy.user.name %>
      </div>
    <% end %>
    <%= paginate @releases %>
  </div>
</div>
