<div class="container">
  <div class="post-field">

    <div class="row">
      <div class="form-group col-xs-4">
        <h2>手放す物</h2>
      </div>
    </div>

    <%= form_with(model:[@buy,@release], local: true) do |f| %>

    <div class="row">
      <div class="form-group col-xs-4">
        <%= f.attachment_field :release_image %>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-xs-4">
          <%= f.label :タイトル %>
          <%= f.text_field :release_caption, class:"form-control" %>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-xs-4">
        <%= f.label :本文 %>
        <%= f.text_area :release_message, class:"form-control" %>
      </div>
        <%= f.hidden_field :buy_id, :value => @buy.id %>
    </div>

    <div class="row">
      <div class="form-group col-xs-4">
        <%= f.submit "投稿する",class:"btn btn-sm btn-block btn-base-1 mt-20 btn-info" %>
      </div>
    </div>
    <% end %>
  </div>
</div>
