<h4>投稿されました</h4>

<div class="container">
  <h5>かわりに手放す物も投稿する</h5>

  <!-- <div class="container">
    <h2>手放す物</h2>
    <%= form_with(model: @release, local: true) do |f| %>

      <div class="row">
        <div class="form-group col-xs-4">
          <%= f.attachment_field :release_image %>
        </div>

        <div class="form-group col-xs-4">
          <div>
            <%= f.label :タイトル %>
            <%= f.text_field :release_caption, class:"form-control" %>
          </div>
          <div>
            <%= f.label :本文 %>
            <%= f.text_area :release_message, class:"form-control" %>
          </div>
          <div>
            <%= f.submit "投稿する",class:"btn btn-sm" %>
          </div>
        </div>

      </div>

    <% end %> -->
