<section class="sct-color-1 slice">
  <div class="container-fluid box-release">
    <div class="row user-info">

            <div class="media">
              <div class="col-sm-1">
                <div class="media-left media-top">
                  <div class="media-object">
                    <%= attachment_image_tag @release.buy.user, :profile_image, size: '60x60' %>
                  </div>
                </div>
              </div>

              <div class="col-sm-5">
                <div class="media-body">
                  <h4 class="post-title"><%= @release.release_caption %></h4>
                  <%= link_to @release.buy.user.name, user_path(current_user.id) %>
                </div>
              </div>



              <div class="row">
                <div class="release-info col-sm-12">
                  <div class="box">
                    <%= attachment_image_tag @release, :release_image, size: '650x650', class: 'img-responsive center-block' %>
                  </div>
                  <div class="detail-block">
                    <div class="release-message">
                      <%= @release.release_message %>
                    </div>

                    <div>
                      <% if @release.buy.user == current_user %>
                        <%= link_to"削除",buy_release_path(@buy,@release),method: :delete %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>


    </div>
  </div>
</section>
