<!DOCTYPE html>
<html>
  <head>
    <title>MyBelongings</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">
    <!-- <nav class="navbar"> -->

      <header class="menu">
        <div class="header-block">
          <div class="row">
            <% if user_signed_in? %>
            <!-- ログイン後メニュー -->
              <div class="col-sm-4">
                <h1 class="site-title">
                  <%= link_to buys_path do %>
                    <%= image_tag "logo.png", width: '50%', height: '50%' %>
                  <% end %>
                </h1>
              </div>

              <div class="col-sm-4 col-sm-offset-4">
              <nav class="pc-nav">
                <ul class="header-menu">
                  <li class="menu-list "><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
                  <li class="menu-list"><%= link_to "投稿フォーム", new_buy_path %></li>
                  <li class="menu-list"><%= link_to "マイページ", user_path(current_user.id) %></li>
                </ul>
              </nav>
              </div>
              <% else %>
              <!-- ログイン前メニュー -->
              <div class="col-sm-4">
                <h1 class="site-title">
                <%= link_to root_path do %>
                  <%= image_tag "logo.png", width: '50%', height: '50%' %>
                <% end %>
              </h1>
            </div>

              <div class="col-sm-3 col-sm-offset-5">
              <nav class="pc-nav">
                  <ul class="header-menu">
                      <li class="menu-list"><%= link_to "新規登録", new_user_registration_path %></li>
                      <li class="menu-list"><%= link_to "ログイン", new_user_session_path %></li>
                  </ul>
              </nav>
              </div>
            <% end %>
          </div>
        </div>

      </header>

    <!-- </nav> -->
  </div>

  <div class="container index-block">
    <%= yield %>
    </div>
  </body>
</html>
