<!DOCTYPE html>
<html>
  <head>
    <title>MyBelongings</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">

      <header class="menu">
        <div class="header-block">
          <div class="row">
            <% if user_signed_in? %>
            <!-- ログイン後メニュー -->
              <div class="col-sm-4 site-title">
                <h1>
                  <%= link_to buys_path do %>
                    <%= image_tag "logo.png", width: '50%', height: '50%' %>
                  <% end %>
                </h1>
              </div>

              <div class="col-sm-4 col-sm-offset-4">
                <nav class="pc-nav">
                  <ul class="header-menu">
                    <li><%= link_to "新規投稿", new_buy_path %></li>
                    <li><%= link_to "ランキング", buys_rank_path %></li>
                    <li><%= link_to "マイページ", user_path(current_user.id) %></li>
                    <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
                  </ul>
                </nav>
              </div>
              <% else %>
              <!-- ログイン前メニュー -->
              <div class="col-sm-4">
                <h1 class="site-title">
                <%= link_to root_path do %>
                  <%= image_tag "logo.png", width: '50%', height: '50%' %>
                <% end %>
                </h1>
              </div>

              <div class="col-sm-3 col-sm-offset-5">
                <nav class="pc-nav">
                    <ul class="header-menu">
                        <li><%= link_to "新規登録", new_user_registration_path %></li>
                        <li><%= link_to "ログイン", new_user_session_path %></li>
                    </ul>
                </nav>
              </div>
            <% end %>
          </div>
        </div>

      </header>

    </div>

    <div class="container index-block">
      <%= yield %>
    </div>

    <footer></footer>
  </body>
</html>
