<!DOCTYPE html>
<html>
  <head>
    <title>MyBelongings</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar menu">
    <div class="container">
        <%= link_to "My belongings", root_path, class: "navbar-brand" %>
        <!-- <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbar9">
            <span class="navbar-toggler-icon"></span>
        </button> -->
        <div class="navbar-collapse navbar">
          <ul class="nav navbar-nav navbar-right">
            <li class="nav-item active">
              <% if user_signed_in? %>
              <%= link_to "ログアウト", destroy_user_session_path, class: 'text-dark', method: :delete %>

            </li>
            <li class="nav-item">
              <%= link_to '投稿フォーム', new_buy_path, class: 'text-dark' %>
            </li>
            <li class="nav-item">
              <%= link_to 'マイページ', user_path(current_user.id), class: 'text-dark' %>
            </li>
            <% else %>
            <li class="nav-item">
              <%= link_to "新規登録", new_user_registration_path, class: 'text-dark' %>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン", new_user_session_path, class: 'text-dark' %>
            </li>
            <% end %>
          </ul>
        </div>
    </div>
</nav>


    <%= yield %>
  </body>
</html>
